<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="../stylesheets/index.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<h1 align="center">{{title}}</h1>
<p align="center">Welcome to {{title}}</p>
<a href="http://1080.zfilm-hd-2018.online/28737-betmen-gotem-v-gazovom-svete-272083428.html">Batman</a>
<body onload="">
</body>