<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="../stylesheets/index.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="../javascripts/bootstrap.js"></script>
<h1 align="center">{{title}}</h1>
<p align="center">Welcome to {{title}}</p>
<body onload="">
</body>